{% extends "base.html" %}

{% block title %}Checkout{% endblock %}
{% load crispy_forms_tags %}
{% block body %}


    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="musica-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="musicaNav">

                        <!-- Nav brand -->
<!--                        <a href="index.html" class="nav-brand"><img src="" alt=""></a>-->
                                <i class="fa fa-bolt fa-5x" aria-hidden="true" style="color:white" ></i>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="#">Categories</a>
                                        <ul class="dropdown">
                                            {% for category in categories %}
                                            <li><a href="{% url 'category' category.slug %}">{{ category }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'home' %}?filter=new">New places</a></li>
                                    {% if user.is_authenticated %}
                                    <a style="color: white" href="{% url 'home' %}">{{ user.email }}</a>
                                     <a style="color: white" href="{% url 'logout' %}">Logout</a>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Social Button -->
                                <div class="top-social-info">
                                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    {% if user.is_authenticated %}
                                    <a class="nav-link" href="{% url 'cart_detail' %}">Корзина <span class="badge badge-pill badge-danger">{{ cart.products.count }}</span></a>
                                    {% endif %}
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ##### Breadcumb Area Start ##### -->

        <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url();">
        <div class="bradcumbContent">

            <h2>Checkout</h2>

        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Elements Area Start ##### -->
    <section class="elements-area mt-30 section-padding-100-0">
        <div class="container">
            <div class="row">



<div class="container">
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.ticket.title }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form|crispy }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
    </div>
{% endblock %}