{% extends 'base.html' %}

{% block title %}dsf{% endblock title %}
{% load static %}
{% block body %}


<h1> Search results</h1>

<div class="posts">
    {% for ticket in tickets %}
    <article class="search">
      <a href="#" class="image"><img src="{{ ticket.image.url }}" /></a>
       <h1>{{ ticket.title }}</h1>
      <h4>{{ ticket.description }}</h4>
        <li><a href="{% url 'detail' ticket.id %}" class="button">More</a></li>

    </article>
    {% endfor %}

</div>

    {% endblock %}